__pycache__/
.ipynb_checkpoints
report.*
Projects/2_Classical Planning/a.txt
Projects/2_Classical Planning/.udacity-pa/jwt
Projects/3_Adversarial Search/adversarial_search-295058.zip
Projects/3_Adversarial Search/matches.log
Projects/1_Sudoku/utils.pyc
__MACOSX/._aind-universal-v4.yml
Projects/2_Classical Planning/result_prob34_summary.txt
Projects/2_Classical Planning/result_summary.txt
Projects/2_Classical Planning/classical_planning-294684.zip
aind-universal-v4.yml.zip
Projects/2_Classical Planning/results
Projects/2_Classical Planning/results_prob34.txt
